.sidebar.right {
    top:40px;
    right:0;
    bottom:0;
    background:#FFF
}

.sidebars > .sidebar {
    width:350px;
    position:fixed;
    font-size:1em;
    z-index:13
}

#toggleDiv {
    box-shadow:-5px 0 15px 0 rgba(5,5,5,0.4);
    background:rgb(255,255,255);
    background:rgba(255,255,255,0.6);
    position:absolute;
    left:-25px;
/*top:-40px;*/
    height:calc(100% + 40px);
    width:25px
}

#toggleClick {
    width:15px;
    height:80px;
    display:inline-block;
    position:absolute;
    top:30%;
    background-color:#a9a9a9;
    background-image:url(images/left_close.png);
    background-repeat:no-repeat;
    background-position:center
}

#toggleClick:hover {
    background-color:gray
}

#toggleClick.checked {
    background-image:url(images/left_open.png);
    background-repeat:no-repeat;
    background-position:center
}

#c1x1 {
background:url(images/1x1.png) no-repeat center center;
width: 20px;
height:20px;
background-size: 18px 18px;
}

#c2x2 {
background:url(images/2x2.png) no-repeat center center !important; 
width: 20px;
height:20px;
background-size: 18px 18px;
}

#c3x3 {
background:url(images/3x3.png) no-repeat center center !important;
width: 20px;
height:20px;
background-size: 18px 18px;
}
